<h1>Edit comment:</h1>

<%= render partial: "layouts/errors", locals: {object: @comment} %>

<%= form_for @comment, url: user_post_comment_path(current_user, @post, @comment), method: 'PATCH' do |f| %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.submit %>

<% end %>