<h1>Sign Up Here!<h1>

<%= render partial: "layouts/errors", locals: {object: @user} %>

<%= form_for(@user, url: '/signup') do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>

    <br>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <h4>
    Email must be a valid email address.
    </h4>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <h4>
    Password must be at least 12 characters long
    and must contain at least one uppercase letter,
    one lowercase letter, at least one number and 
    one symbol.
    </h4>
    <%= f.submit "Submit" %>

<% end %>