<h1>New Post!</h1>

<%= form_for(@post) do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.collection_select(:category_id, Category.all, :id, :name)%>
    <%= f.submit %>
<% end %>

